@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-4">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Access Denied</h4>
        <p>You don't have permission to access this page.</p>
        <hr />
        <p class="mb-0">
            If you believe this is a mistake, please contact your manager or system administrator.
        </p>
    </div>
</div>


